.dadito_borde{
  border: solid 3px #aaa;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  font-size: 60px; 
}

.button_borde{
  border: solid 3px #aaa;
  border-radius: 4px;
  display: block;
  width: 100px;
  height: 35px;
  margin: 7px auto;
  text-align: center;
  font-size: 18px;
  
}